*,
*::after,
*::before {
  box-sizing: border-box;
}


:root {
    --space1: 0.5rem;
    --space2: 1rem;
    --space3: 1.5rem;
    --space4: 2rem;

    --font1: 'Fira Code', monospace;
    --font2: "Bodoni Moda", serif;

    /* colors */
    --bg: #000;
    --bg2: #3c3c3c;
    --pink: #6f2271;
    /* --brown: #554534; */
    --text: #fff;
}

body{
    background-color: var(--bg);
    color: var(--text);
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
}

html,body{
    height: 100%;
    margin: 0;
}

.container{
    margin: var(--space4);
    flex: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    /* width: 30%; */
    width: 100%;
    max-width: 400px;

    border: 2px solid var(--pink);
}

.movieContainer{
    /* background-color: var(--bg2); */
    margin: var(--space2);
    padding: var(--space2);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2{
    font-family: var(--font2);
    color: #fff;
}

h1{
    font-size: 60px;
    margin: 0;
}
#introText, #link{
    font-family:var(--font1);
}

a{
    font-weight: bold;
    color: var(--pink);
}

#link{
    color: var(--text);
}

#pickBtn{
    background-image: url(assets/shuffle.gif);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        width: 200px;
        height: 36px;
        margin-top: var(--space3);

        border: none;
        background-color: transparent;
        cursor: pointer;
}


footer{
    border-top: solid var(--pink) 2px ;
    background-color: #6e227140;
    width: 100%;
    font-family: var(--font1);
    margin: 0;
    padding: var(--space1);

}


/* nav bar */

.navBar{
    border-bottom: 2px solid var(--pink);
    background-color: #6e227140;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--space1);
}

#links{
    text-decoration: none;
    font-family: var(--font1);
    font-size: small;
}

/* animations */

#links:hover{
    color: #fff;
    text-decoration: underline;
    
}

#pickBtn:hover {
  transform: scale(1.05);
  transition: 0.2s ease;
}

#poster {
    transition: opacity 0.4s ease;
}