*,
*::after,
*::before {
  box-sizing: border-box;
}


:root {
    --space1: 0.5rem;
    --space2: 1rem;
    --space3: 1.5rem;

    --font1: 'Fira Code', monospace;
    --font2: "Bodoni Moda", serif;

    /* colors */
    --bg: #dbd8c9;
    --bg2: #c8c5b7;
    --yellow: #cdbb39;
    --brown: #554534;
    --text: #202215;
}

body{
    background-color: var(--bg);
    color: var(--text);
    margin: 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; 
}

html,body{
    height: 100%;
}

.container{
    padding: var(--space2);
    margin: var(--space2);
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 60%;
}

.movieContainer{
    background-color: var(--bg2);
    margin: var(--space2);
    padding: var(--space2);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2{
    font-family: var(--font2);
    color: var(--brown);
}

h1{
    font-size: 60px;
    margin: 0;
}
#introText, #link{
    font-family:var(--font1);
}

a{
    font-weight: bold;
    color: var(--yellow);
}

#link{
    color: var(--text);
}

#pickBtn{
    width: 20%;
    padding: 10px 15px;
    background-color: var(--yellow);
    border-radius: var(--space2);
    border: none;
    text-transform: uppercase;
}

footer{
    background-color: var(--brown);
    width: 100%;
    color: var(--yellow);
    font-family: var(--font1);
    margin: 0;
    padding: var(--space1);

}